[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/owner-manager-contracts"]
	path = lib/owner-manager-contracts
	url = https://github.com/pooltogether/owner-manager-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "lib/optimism"]
	path = lib/optimism
	url = https://github.com/ethereum-optimism/optimism
[submodule "lib/pt-v5-rng-contracts"]
	path = lib/pt-v5-rng-contracts
	url = https://github.com/GenerationSoftware/pt-v5-rng-contracts
[submodule "lib/prb-math"]
	branch = v4
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "lib/pt-v5-prize-pool"]
	path = lib/pt-v5-prize-pool
	url = https://github.com/generationsoftware/pt-v5-prize-pool
[submodule "lib/remote-owner"]
	path = lib/remote-owner
	url = https://github.com/generationsoftware/remote-owner
